extends ../jade/layout.jade

block head
	- var title = 'Контактная информация';
	- var description = '495 Studio Records - адрес студии звукозаписи в Москве недалеко от метро ВДНХ, удобное расположение, уютное помещение, творческая обстановка.';
	
	include ../includes/head

block content	

	// Contacts
	.row
		.small-10.small-centered.column
			article
				h1 Контактная информация
				address Москва, м. ВДНХ, ул.&nbsp;Кибальчича, 5.
					br
					a(href="tel:+74956649547") Тел.: +7&nbsp;(495)&nbsp;664-95-47,
					br
					a(href="tel:+79154457762") +7&nbsp;(915)&nbsp;445-77-62

				iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A0f5c0aee088312cbd559785de670d5044cb295266425b88e8c2184906ef5426f&amp;source=constructor", width="100%" height="416" frameborder="0")
	// /Contacts