extends ../jade/layout.jade

block head
	- var title = 'Делаем аранжировку'
	include ../includes/head

block content

	// Creating arranger
	.row
		.small-10.small-centered.column
			.b-creating-arranger
				h1 Как написать хорошую аранжи&shy;ровку?
				p.
					Этот вопрос я&nbsp;задавал сам себе неоднократно. Иногда слушаешь песню, которую человек принес показать в&nbsp;студию, и&nbsp;на&nbsp;первый взгляд все отлично, аранжировка сделана добротно, но&nbsp;потом приходит ощущение, что чего-то не&nbsp;хватает. И&nbsp;чего именно, простой слушатель объяснить не&nbsp;может. А&nbsp;включаешь треки с&nbsp;хит-парада Billboard&nbsp;&mdash; и&nbsp;аж&nbsp;мурашки по&nbsp;коже, хотя по&nbsp;аранжировке все предельно просто. В&nbsp;чем&nbsp;же дело? Все дело&nbsp;&mdash; в&nbsp;ритмической пульсации. Объяснить это словами практически невозможно, можно лишь из&nbsp;уст в&nbsp;уста передать ощущение ритма внутри нашего тела, когда все движения мышц при исполнении музыкального произведения находятся в&nbsp;совершенной гармонии между собой, и&nbsp;подчинены одной пульсации, одному ритму. И&nbsp;тогда любая самая простая аранжировка излучает колоссальное количество энергии, и&nbsp;невольно при прослушивании тело начинает двигаться в&nbsp;такт этой музыке. У&nbsp;меня много лет ушло на&nbsp;поиск, осознание и&nbsp;принятия этого ощущения, и&nbsp;сейчас в&nbsp;рамках курса &laquo;Школа Ритма&raquo; я&nbsp;смогу передать эти знания Вам.
				p.
					Но&nbsp;вернемся к&nbsp;созданию аранжировки с&nbsp;технической стороны&nbsp;&mdash; то&nbsp;есть с&nbsp;той, как лучше обыграть гармонию и&nbsp;выделить самый яркий элемент в&nbsp;песне.

				p.
					Для начала посмотрим на&nbsp;аккорды. Даже простую цепочку Am-Dm-E-Am можно обыграть десятком разных способов, все зависит от&nbsp;нашей фантазии и&nbsp;багажа знаний теории и&nbsp;гармонии музыки.

				p.
					Когда общий план понимания стиля и&nbsp;гармония песни у&nbsp;нас есть, можно приступать к&nbsp;записи партий в&nbsp;секвенсер. На&nbsp;этом этапе есть одно важное правило&nbsp;&mdash; партию баса лучше прописать в&nbsp;последнюю очередь, когда уже сыграны все гитары, клавиши, барабаны и&nbsp;тд. Дело в&nbsp;том, что бас гитара занимает очень широкий спектр в&nbsp;звучании песни, и&nbsp;если ее&nbsp;записать в&nbsp;первую очередь, то&nbsp;&laquo;места&raquo; в&nbsp;аранжировке для других инструментов просто не&nbsp;останется, и&nbsp;будет сложно вместить их&nbsp;партии в&nbsp;музыкальную фактуру. Попробуйте этот способ, и&nbsp;вы&nbsp;убедитесь, что когда мы&nbsp;наиграли все партии, кроме баса, и&nbsp;аранжировка уже в&nbsp;этом виде звучит хорошо, то&nbsp;бас-гитара внесет финальный штрих в&nbsp;наше творение, наведет глянец и&nbsp;лоск. Разумеется, мы&nbsp;можем задумать аранжировку, изначально построенную на&nbsp;какой либо басовой фигурации, но&nbsp;и&nbsp;в&nbsp;этом случае, держа в&nbsp;голове основополагающий басовый рисунок, приписываем все остальные партии в&nbsp;первую очередь.

				p.
					Итак, перво-наперво&nbsp;&mdash; барабаны. Записывать живого барабанщика достаточно дорого и&nbsp;технически сложно, поэтому создаем эту партию с&nbsp;помощью драм модуля или драм машины. В&nbsp;нашем случае&nbsp;&mdash; Drummer из&nbsp;программы Logic Pro&nbsp;X.

				p.
					Лучше сразу расставить барабаны на&nbsp;всю песню&nbsp;&mdash; так мы&nbsp;сможем увидеть всю песню целиком и&nbsp;динамически правильно выстроить части между собой, сделать вступление, куплеты, припевы и&nbsp;кульминацию. И&nbsp;потом на&nbsp;этот каркас шаг за&nbsp;шагом &laquo;надеваем одежду&raquo;&nbsp;&mdash; пишем инструментальные партии.

				p.
					Далее пишем клавиши или гитары, сначала основные партии, потом дополнительные, в&nbsp;припеве их&nbsp;количество увеличивается для более плотного и&nbsp;насыщенного звучания, в&nbsp;бридже&nbsp;&mdash; в&nbsp;зависимости от&nbsp;идеи должна быть кульминация песни, самая яркая часть. Нередко место бриджа занимает соло. Или&nbsp;же используем другой прием&nbsp;&mdash; обратная кульминация&nbsp;&mdash; бридж после грандиозного второго припева делается максимально спокойным и&nbsp;расслабленным, давая слушателю возможность &laquo;отдохнуть&raquo; от&nbsp;звука, так называемая &laquo;ямка&raquo;. Ну&nbsp;и&nbsp;следом идет либо соло, либо сразу финальный третий припев.

				p.
					Очень важно всегда мысленно держать в&nbsp;голове всю песню целиком, чтобы соблюсти меру в&nbsp;развитии и&nbsp;соотношении частей, и&nbsp;не&nbsp;потерять динамику развития песни. В&nbsp;этом аспекте мы&nbsp;больше высчитываем, чем полагаемся на&nbsp;вдохновения&nbsp;&mdash; по&nbsp;количеству тактов все части песни должны быть строго продуманы.&nbsp;8&nbsp;тактов на&nbsp;куплет&nbsp;&mdash; 2&nbsp;на предприпев&nbsp;&mdash; и&nbsp;4 (можно повторить) на&nbsp;припев&nbsp;&mdash; и&nbsp;песня будет звучать интересно и&nbsp;не&nbsp;затянуто.

				p.
					В&nbsp;зависимости от&nbsp;выбранного стиля количество инструментов в&nbsp;нашей аранжировке может быть от&nbsp;трех (барабаны, бас и&nbsp;одна гитара), до&nbsp;нескольких десятков, если мы&nbsp;используем и&nbsp;струнные, и&nbsp;духовые инструменты. Как правило, какие-либо мелкие дополнительные партии и&nbsp;другие &laquo;фишки&raquo; прописываются уже на&nbsp;готовую аранжировку, придавая ей&nbsp;индивидуальность и&nbsp;помогая полностью раскрыть потенциал песни и&nbsp;исполнения.

				p.
					Главное&nbsp;&mdash; экспериментировать как со&nbsp;звуками, так и&nbsp;с&nbsp;партиями, искать интересные гармонические ходы, и&nbsp;всегда помнить про ритмическую пульсацию, и&nbsp;тогда аранжировка будет звучать интересно, и&nbsp;Вы будете довольны результатами своей работы.

				a.btn.btn__start Записаться								
	// /Creating arranger
