extends ../jade/layout.jade

block head
	- var title = 'Главная'
	include ../includes/head

block content

	.parallax-window.parallax-window--responsive(data-parallax="scroll", data-image-src="/images/header.png")
		.b-container.b-container--495studio.b-container--flex
			.row
				.small-10.small-centered.column
					h1 495 STUDIO
					ul
						li Аранжировки
						li Запись
						li Сведение
						li Мастеринг
					a(href="/application-form.html").btn.btn__start Записаться

	// About us
	.row
		.small-10.small-centered.column
			.b-about-us
				h2 495 STUDIO RECORDS
				p.
					495 Studio Records&nbsp;&mdash; студия звукозаписи в&nbsp;Москве, мы&nbsp;специализируемся на&nbsp;профессиональных аранжировках, записи музыкальных инструментов, записи вокала, сведении и&nbsp;мастеринге. Набор услуг вроде&nbsp;бы стандартный для большинства студий, что&nbsp;же отличает нас от&nbsp;других?
				p.
					Прежде всего это наша команда&nbsp;&mdash; молодые и&nbsp;очень талантливые музыканты, каждый мегапрофессионал в&nbsp;своей области.
				p.less.
					С&nbsp;развитием технологий возможности записи и&nbsp;создания своих песен стали доступны для абсолютно любого человека. Ноутбук, звуковая карта, миди клавиатура и&nbsp;микрофон&nbsp;&mdash; вот и&nbsp;готова домашняя студия. Для создания демо&nbsp;&mdash; отличный вариант. Почему только демо, спросите Вы? Потому что для создания профессионального звука есть ряд условий. Прежде всего&nbsp;&mdash; это акустика помещения. Целая наука, если начинать изучать это дело. В&nbsp;нашей студии 495 Studio Records великолепная акустика как в&nbsp;вокальной комнате, так и&nbsp;в&nbsp;аппаратной. Второе условие&nbsp;&mdash; качественная оцифровка. Звуковые карта&nbsp;&mdash; это комбо устройства, где основополагающий принцип &laquo;все в&nbsp;одном&raquo;. В&nbsp;профессиональных студиях каждое звено&nbsp;&mdash; вокальный или гитарный предусилитель, оцифровка (АЦП), цифро-аналоговое преобразование&nbsp;&mdash; представлено отдельным прибором топ класса, что дает прозрачное и&nbsp;насыщенное звучание. Поэтому мы&nbsp;можем гарантировать качественный звук любого проекта, который&nbsp;Вы только сможете придумать. Ну&nbsp;и&nbsp;третий пункт&nbsp;&mdash; качественные фирменные музыкальные инструменты. Чтобы сделать аранжировку, которая будет звучать &laquo;как у&nbsp;звезд&raquo;, нужно такие&nbsp;же гитары и&nbsp;синтезаторы, это уже проверенный и&nbsp;неоспоримый факт. В&nbsp;нашем парке гитар&nbsp;&mdash; только американские модели Gibson, Fender, PRS, и&nbsp;звучат они потрясающе!
				p.less.
					Ну&nbsp;и&nbsp;самое главное&nbsp;&mdash; это опыт работы со&nbsp;звуком и&nbsp;аранжировками. Звук&nbsp;&mdash; он&nbsp;как живая материя, с&nbsp;ним нужно дружить, и&nbsp;тогда он&nbsp;позволит управлять собой, и&nbsp;любая песня, независимо от&nbsp;стиля и&nbsp;исполнения, звучит так, что нажать кнопку &laquo;стоп&raquo; невозможно. У&nbsp;нас, как говорят, получается это делать. Получается писать мелодии, которые после прослушивание несколько дней звучат в&nbsp;голове, получается писать тексты, которые проникают в&nbsp;самые глубины души. Получается соединить все это вместе в&nbsp;песню, которая может претендовать на&nbsp;то, чтобы ее&nbsp;гордо называли искусством! Присоединяйтесь к&nbsp;нашему миру, Вам понравится, обещаем!
	// /About us

	// Persons
	.row
		.small-10.small-centered.column
			h2 О нас

			.b-persons
				.row
					.b-person
							
						.small-6.small-centered.medium-3.medium-uncentered.column
							img(src="/images/1.png")

						.small-12.medium-9.column
							h3 Александр Колесников
							p.
								Звукорежиссер, аранжировщик, мастер звукового полотна, способный в&nbsp;любую аранжировку, сведение или мастеринг вдохнуть столько энергии и&nbsp;силы, что никто из&nbsp;слушателей не&nbsp;остается равнодушным после прослушивания.

			
				.row
					.b-person
						.small-6.small-centered.medium-3.medium-push-9.medium-uncentered.column
							img(src="/images/2.png")

						.small-12.medium-9.medium-pull-3.column
							h3.text-right Айдар Хамзин
							p.
								Композитор, гений удивительно красивых мелодий, изящных гармоний и&nbsp;просто выдающихся аранжировок. Написанные им&nbsp;песни звучат в&nbsp;исполнении уже огромного числа исполнителей, среди которых и&nbsp;звезды российской сцены.
														
		
				.row
					.b-person
						.small-6.small-centered.medium-3.medium-uncentered.column
							img(src="/images/3.png")

						.small-12.medium-9.column
							h3 Павел Бочкарев
							p.
								Мультиинструменталист, аранжировщик, саунд продюсер, профессиональный певец и&nbsp;бэк вокалист. Подсчитать, в&nbsp;каком количестве песен или рекламных роликов звучит его голос просто невозможно... Их&nbsp;тысячи и&nbsp;тысячи. Профессионал экстра класса.
	// Persons
					
	// Equipment
	.parallax-window.parallax-window--responsive(data-parallax="scroll", data-image-src="/images/equipment.jpg")
		.b-container.b-container--equipment.b-container--flex
			.row
				.small-10.small-centered.column
					h2 Оборудование
					p 
						each item in listEquipment					
							span= item
					p.
						Посмотрите видеоролики, как мы&nbsp;создаем гитарные партии в&nbsp;аранжировках с&nbsp;помощью процессора Fractal Axe FX&nbsp;II&nbsp;XL.		
					a.btn.btn__start Создание гитарной аранжировки

	.row
		.small-10.small-centered.column
			.b-list-equipment 
				p.
					Гитарный процессор Fractal Axe FX&nbsp;II&nbsp;XL&nbsp;в настоящее время является лучшим эмулятором гитарных усилителей и&nbsp;кабинетов. Используя Axe&nbsp;FX&nbsp;в&nbsp;аранжировках, мы&nbsp;гарантировано получаем очень качественный гитарный звук, все партии идеально ложаться в&nbsp;звучание микса, а&nbsp;тембральная палитра настолько разнообразна, что можно работать в&nbsp;любых стилях&nbsp;&mdash; от&nbsp;поп музыки, до&nbsp;экстремального тяжелого рока.

				p.callout.primary.
					Аренда любых гитар при заказе студийного времени&nbsp;&mdash; бесплатно!				 			
	// /Equipment			

