extends ../jade/layout.jade

block head
	- var title = 'Портфолио';
	- var description = '495 Studio Records - работы нашей студии звукозаписи, примеры аранжировок, хитовые и интересные песни, звезды пишутся в 495 Studio.';
	
	include ../includes/head

block content
	// Portfolio
	.row
		.small-10.small-centered.column
			article
				h1 Мои работы
				p Lorem ipsum&nbsp;&mdash; dolor sit amet

				.b-player
					audio(src="/audio/Lorem.mp3", controls)

				p Lorem ipsum&nbsp;&mdash; dolor sit amet

				.b-player
					audio(src="/audio/Lorem.mp3", controls)
							
				p Lorem ipsum&nbsp;&mdash; dolor sit amet

				.b-player
					audio(src="/audio/Lorem.mp3", controls)

				p Lorem ipsum&nbsp;&mdash; dolor sit amet

				.b-player
					audio(src="/audio/Lorem.mp3", controls)
						
				p Lorem ipsum&nbsp;&mdash; dolor sit amet

				.b-player
					audio(src="/audio/Lorem.mp3", controls)
						
				p Lorem ipsum&nbsp;&mdash; dolor sit amet

				.b-player
					audio(src="/audio/Lorem.mp3", controls)

	.parallax-window.parallax-window--responsive(data-parallax="scroll", data-image-src="/images/portfolio.jpg")
		.b-container--portfolio
			.row
				.small-10.small-centered.column
					h2 Мои клиенты
					p 
						each item in listClients					
							span= item

					h2 Моя статистика
					p 
						each item in listStatistics					
							span= item

					a(href="tel:+79187414845").btn.btn__start +7 (916) 741-48-45														
	// /Portfolio
