extends ../jade/layout.jade

block head
	- var title = 'Портфолио';
	- var description = '495 Studio Records - работы нашей студии звукозаписи, примеры аранжировок, хитовые и интересные песни, звезды пишутся в 495 Studio.';
	
	include ../includes/head

block content
	// Portfolio
	.row
		.small-10.small-centered.column
			article
				h1 Наши работы
				p Варвара Кистяева (Голос.Дети)&nbsp;&mdash; Параллели (из&nbsp;к/ф &laquo;Пастели&raquo;)

				.b-player
					audio(src="/audio/parallely.mp3", controls)

				p Эмиль Кадыров (Голос)&nbsp;&mdash; Не&nbsp;зря (отрывок)

				.b-player
					audio(src="/audio/emil'-ne_zrya.mp3", controls)
							
				p Алиса Кожикина (Голос.Дети) feat Гульемеш Клысова &mdash; Мечты

				.b-player
					audio(src="/audio/dream.mp3", controls)

				p Шарип Умханов (Голос)&nbsp;&mdash; Исповедь (отрывок)

				.b-player
					audio(src="/audio/sharip_ispoved.mp3", controls)
						
				p AMANDA&nbsp;&mdash; Давай займемся счастьем

				.b-player
					audio(src="/audio/amanda-happy.mp3", controls)
						
				p Эльмира Калимуллина (Голос)&nbsp;&mdash; Молитва (отрывок)

				.b-player
					audio(src="/audio/elmira-molitva.mp3", controls)

	.parallax-window.parallax-window--responsive(data-parallax="scroll", data-image-src="/images/portfolio.jpg")
		.b-container--portfolio
			.row
				.small-10.small-centered.column
					h2 Наши клиенты
					p 
						each item in listClients					
							span= item

					h2 Наша статистика
					p 
						each item in listStatistics					
							span= item

					a(href="/application-form.html").btn.btn__start Записаться														
	// /Portfolio
