//- includes/footer.jade

// footer
footer(role="contentinfo")
	.b-container
		.row
			.small-10.small-centered.column
				.row
					.b-nav-col-wrapper
						.small-12.columns
							.b-nav-col
								h4
									a(href="").js-menu-footer.show-for-small Наши ресурсы
									span.hide-for-small Наши ресурсы
									
								.b-expandable.hide-for-small
									ul
										li: a(href="http://www.studio-leader.ru") Лидер Продакшн Уфа
						
						.small-12.columns
							.b-nav-col
								h4
									a(href="").js-menu-footer.show-for-small Мы в сети
									span.hide-for-small Мы в сети
									
								.b-expandable.hide-for-small
									ul
										li: a(href="#") Facebook
										li: a(href="https://vk.com/studio495records") ВКонтакте
										li: a(href="https://www.instagram.com/495studio/") Instagram
										li: a(href="#") YouTube
						.small-12.columns
							.b-nav-col
								h4
									a(href="").js-menu-footer.show-for-small Наш адрес и&nbsp;телефон
									span.hide-for-small Наш адрес и&nbsp;телефон
									
								.b-expandable.hide-for-small
									address Москва, м. ВДНХ, ул.&nbsp;Кибальчича, 5.
										br
										a(href="tel:+74956649547") Тел.: +7&nbsp;(495)&nbsp;664-95-47,		
										br
										a(href="tel:+79154457762") +7&nbsp;(915)&nbsp;445-77-62	
											
				
// /footer	
