//- includes/footer.jade

// footer
footer(role="contentinfo")
	.b-container
		.row
			.small-10.small-centered.column
				.row
					.b-nav-col-wrapper
						.small-12.columns
							.b-nav-col
								h4
									a(href="").js-menu-footer.show-for-small Мои ресурсы
									span.hide-for-small Мои ресурсы
									
								.b-expandable.hide-for-small
									ul
										li: a(href="https://www.youtube.com/youcandrawit") YouTube
						
						.small-12.columns
							.b-nav-col
								h4
									a(href="").js-menu-footer.show-for-small Я в сети
									span.hide-for-small Я в сети
									
								.b-expandable.hide-for-small
									ul
										li: a(href="https://www.facebook.com/SnailDread") Facebook
										li: a(href="https://vk.com/snaildread") ВКонтакте
										li: a(href="https://www.instagram.com/snaildread/") Instagram
										

						.small-12.columns
							.b-nav-col
								h4
									a(href="").js-menu-footer.show-for-small Мой адрес и&nbsp;телефон
									span.hide-for-small Наш адрес и&nbsp;телефон
									
								.b-expandable.hide-for-small
									address Москва, м. ВДНХ, ул.&nbsp;Кибальчича, 5.	
										br
										a(href="tel:+79167414845") +7&nbsp;(916)&nbsp;741-48-45	
											
				
// /footer	
