//- includes/head.jade

head

	//- include ../includes/yandexMetrika

	meta(charset="utf-8")
	meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")
	title #{title}
	meta(content="#{description}", name="description")
	meta(content="студия звукозаписи москва, в москве, записать песню, аранжировка, запись, сведение, мастеринг, записать вокал, записать голос, подарочный сертификат на запись песни, песня на свадьбу, песня на юбилей, свести мультитрек, студия звукозаписи вднх, записать альбом, школа ритма, школа аранжировок, песня в подарок, #495studio, #студиязвукозаписимосква, 495 студия, записать альбом", name="keywords")
	meta(content="width=device-width, initial-scale=1", name="viewport")
	link(href="/css/style.css", rel="stylesheet")
	link(href="/favicon.ico", rel="shortcut icon", type="images/x-icon")
	link(href="/favicon.ico", rel="icon", type="images/x-icon")
		