//- includes/yandexMetrika.jade


// Yandex.Metrika counter
script.

	(function (d, w, c) {

	(w[c] = w[c] || []).push(function() {

	try {

	w.yaCounter48187199 = new Ya.Metrika({

	id:48187199,

	clickmap:true,

	trackLinks:true,

	accurateTrackBounce:true,

	webvisor:true

	});

	} catch(e) { }

	});



	var n = d.getElementsByTagName("script")[0],

	s = d.createElement("script"),

	f = function () { n.parentNode.insertBefore(s, n); };

	s.type = "text/javascript";

	s.async = true;

	s.src = "https://mc.yandex.ru/metrika/watch.js";



	if (w.opera == "[object Opera]") {

	d.addEventListener("DOMContentLoaded", f, false);

	} else { f(); }

	})(document, window, "yandex_metrika_callbacks");


noscript
	div
		img(src="https://mc.yandex.ru/watch/48187199" style="position:absolute; left:-9999px;" alt="")

// /Yandex.Metrika counter			


//- meta(name="yandex-verification" content="40a92b6176c1fb66")
meta(name="yandex-verification" content="9f1c0d1216f7f39a")

meta(name="google-site-verification" content="PBl73SUrxnQ2GFtH1bCf2pel31Cu5KcyA3hDft8uarY")




